html {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  width: 960px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 30px; /*gap adds gutters to all elements within the body tag*/
}

header {
  display: flex;
  align-items: center;
  height: 175px;
  width: 960px; /*need to figure out how to make header and footer full width without distorting other elements*/
}

main {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

section {
  height: 400px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  align-self: flex-start;
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;
  height: 12%;
  width: 58%;
  transition-duration: 350ms;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  height: auto;
  overflow-y: scroll;
}

nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-around;
}

footer {
  height: 140px;
  width: 100%;
  background-color: lightgray;
  margin-bottom: 10px;
}
